<h1>TinyApp: The Magical URL Shortening App</h1>

<% if (user) {%>
  Hello, <%= user.email %>! Welcome to TinyApp. <form action="/logout" method="POST" style="margin:0px;"><input type="submit" value="Logout"></form>
<% } else { %>
  Hello! Welcome to TinyApp.
  <a href="/register">Register</a> | <a href="/login">Login</a>
<% } %>
