<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
<h1>Welcome to TinyApp!</h1>
<h3>Short URL: <%= shortURL %></h3>
<form action="/urls/<%= shortURL %>" method="POST" style="margin:0px;">
      <label for="longURL">Edit the long URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 200px">
      <input type="submit" value="Edit">
</form>
<br>
<strong>Click <a href="/urls">here</a> to see all of your tiny URLs.</strong>
</body>
</html>
