<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
<h1>Welcome to TinyApp!</h1>
<h2>Here are the results of your request</h2>
<ul>
  <li>The shortened URL is <%= shortURL %></li>
  <li>The long URL is <%= longURL %></li>
</ul>
</body>
</html>
